<div class="ratings">
  {{#each this}}
    <div class="card">
        <h3 class="card-header"></h3>
        <section class="rating card-body">
            <div class="">
                {{rating}}
            </div>
        </section>
    </div>
  {{/each}}
</div>
