<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipe Parade</title>
  {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> --}}
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div>
    <nav class"nav">
            <a class="link" href="/">Home</a>
            {{#if loggedIn}}
            <a class="link" href="/dashboard">My Recipes</a>
            <a class="link" href="/savedrecipes">Favorite Recipes</a>
            <a class="link" href="/" id="logout">Logout</a>
            {{else}}
            <a class="link" href="/login">Login</a>
            {{/if}}
      </nav>          
  </div>
  <div class="wrapper">
      <header class="hero">
          <div class="img">
              {{!-- <img class="mainbodyimage" src="https://images.pexels.com/photos/277253/pexels-photo-277253.jpeg"> --}}
              {{!--
              <img src="https://images.unsplash.com/photo-1524010235651-6318320e3276?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
               --}}
          </div>

          <h1 class="app-title">Recipe Parade</h1>
      </header>

    <main>
      {{{ body }}}


    {{!-- </script> --}}
  <footer class="footer">
    <h5>© Recipe Parade created by Anisha Sinha, Trent Geraty and Izabela Petrovicova</h5>
  </footer>
    </main>
  </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>

    {{/if}}
    {{!-- <script id="grid-template" type="text/x-handlebars-template"></script> --}}
</body>

</html> 
