<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipe Parade</title>
  <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
      <header class="hero">
          <div>
            <nav class"nav">
                    <a class="link" href="/">home</a>
                    <a class="link" href="/dashboard">dashboard</a>
                    {{#if loggedIn}}
                    <a class="link" href="/" id="logout">logout</a>
                    {{else}}
                    <a class="link" href="/login">login</a>
                    {{/if}}
                </nav>          
          </div>

          <h1 class="app-title"><i class="fab "></i>Recipe Parade</h1>
      </header>

    <main>
      {{!-- {{{ body }}} --}}
          <script id="grid-template" type="text/x-handlebars-template">
      {{#rows}}
        <div class="row">
          {{#cells}}
            <div class="cell">
              {{{ body }}}
            </div>
          {{/cells}}
        </div>
      {{/rows}}
    </script>

      <div id="MD Image" style="display: none">
    <img class="Main Body Image" src="{{https://www.pexels.com/photo/anise-aroma-art-bazaar-277253/}}">
    </div>

    </main>
  </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}

</body>

</html>
