<article class="post">

    {{#each recipes as |recipe| }}
        {{> recipe-info recipe}}
    {{/each}}

</article>

<footer>
    <div class="row">
        <header class="small-2 large-4 columns">
            <nav>
                <a class="button" href="main.handlebars">Return to Home</a>
            </nav>
        </header>
</footer>
