
<form class="login-form" id="login-form">
  <div>
      <label for="username-login" class="form-label">Username</label>
      <input type="text" id="username-login" class="form-input" />
  </div>
  <div>
      <label for="password-login" class="form-label">Password</label>
      <input type="password" id="password-login" class="form-input" />
  </div>
  <div>
      <button type="submit" class="btn">Login!</button>
      <a class="link" href="/signup">Sign up instead</a>
  </div>
</form> 

<!-- javascript file-->
<script src="/javascript/login.js"></script>



