<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
</head>
<body>
    
</body>

<footer>
    <div class="row">
        <header class="small-2 large-4 columns">
            <nav>
                <a class="button" href="main.handlebars">Return to Home</a>
            </nav>
        </header>
</footer>

</html>
