<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
</head>
<body>
    <div class="card">
    <h3 class="card-header">Create New Recipe</h3>
    <form class="card-body new-recipe-form" id="new-recipe-form">
        <label for="title" class="form-label">Title</label>
        <input type="text" id="title" name="title" class="form-input" />

        <label class="form-label" for="ingredients">Ingredients</label>
        <input id="ingredients" name="ingredients" class="form-input" />

        <label class="form-label" for="directions">Directions</label>
        <input id="directions" name="directions" class="form-input" />

        <button type="submit" class="btn">Create</button>
    </form>
</div>
</body>

<footer>
    <div class="row">
        <header class="small-2 large-4 columns">
            <nav>
                <a class="button" href="main.handlebars">Return to Home</a>
            </nav>
        </header>
</footer>
<script src="/javascript/add-recipe.js"></script>
</html>

