
<div class="card">
    <h3 class="card-header">Create New Recipe</h3>
    <form class="card-body new-recipe-form" id="new-recipe-form">
        <label for="title" class="form-label">Title</label>
        <input type="text" id="title" name="title" class="form-input" />

        <label class="form-label" for="ingredients">Ingredients</label>
        <input id="ingredients" name="ingredients" class="form-input" />

        <label class="form-label" for="directions">Directions</label>
        <input id="directions" name="directions" class="form-input" />

        <button type="submit" class="btn">Create</button>
    </form>
</div>

<div class="card">
    <h3 class="card-header">Add Tags</h3>
    <form class="card-body addrecipe-tags-form" id="addrecipe-tags-form">

        <label class="form-label" for="recipe-tag">Recipe Tags</label>
        <input id="recipe-tag" name="recipe-tag" class="form-input" />

        <button type="submit" class="btn">Add Tags</button>
    </form>
</div>



<script src="/javascript/add-recipe.js"></script>
<script src="/javascript/add-recipe-tag.js"></script>


