
{{#if recipes.length}}
<section>
  <h2>Favorite Recipes</h2>
    {{#each this }}

      <div>test data </div>
    {{!-- {{this}} --}}
   {{> dashboard-recipeinfo recipe}}

    {{/each}}
    

</section>

{{/if}}



{{!-- <article class="recipe">

    {{#each recipes as |recipe| }}
        {{> recipe-info recipe}}
    {{/each}}

</article> --}}

{{!-- <button type="submit" class="btn">Remove from Favorites</button> --}}

{{!-- <script src="/javascript/add-recipe.js"></script> --}}