<form class="signup-form" id="signup-form">
    <div>
      <label for="username-signup" class="form-label">Username</label>
      <input type="text" id="username-signup" class="form-input" />
    </div>
    <div>
      <label for="password-signup" class="form-label">Password</label>
      <input type="password" id="password-signup" class="form-input" />
    </div>
    <div>
        <button type="submit" class="btn">Signup!</button>
        <a class="link" href="/login">Log in instead</a>
    </div>
</form>

<!-- javascript file-->
<script src="/javascript/signup.js"></script>