
{{> recipe-info recipe}}

{{#if loggedIn}}
<div class="card">
    <h3 class="card-header"></h3>
    <form class="card-body comment-form" id="comment-form">

        <label class="form-label">Comment</label>
        <input id="comment" name="comment-body" class="form-input" />

        <button type="submit" class="btn">Submit</button>
        <button id="save-as-favorite" type="submit" class="btn">Save as Favorite</button>
    </form>
</div>
{{/if}}


{{> comments recipe.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/save-favorite.js"></script>
{{/if}}