:root {
    --black: #011627;
    --white: #FDFFFC;
    --tiffany-blue: #2EC4B6;
    --rose-madder: #E71D36;
    --orange-peel: #FF9F1C;
    --aliceblue: #e1e4e8;
    /* color: aliceblue; */
    box-sizing: border-box;
  }

  /* body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: var(--black);
  } */

  img.resize {
    width: 100%;
    height: 50%;
  }

  .mainbodyimage {
    height: 100px;
    width: 100%
  }
  

  .dashboard {
    padding: 3px 10px;
    font-size: 12px;
    border-radius: 3px;
    border: 1px solid aliceblue;
  }

  .logout {
    padding: 3px 10px;
    font-size: 12px;
    border-radius: 3px;
    border: 1px solid #e1e4e8;
  }

  .login {
    padding: 3px 10px;
    font-size: 12px;
    border-radius: 3px;
    border: 1px solid #e1e4e8;
  }

  h1 {
    font-size: large;
    font-weight: 400;
    text-align: center;
  }

footer {
    padding: 2px 5px;
    font-size: medium;
    border-radius: 3px;
    border: 1px solid #e1e4e8;
  }
